.main__page_container {
	width: 100%;
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main__text_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	gap: 1.5rem;
	margin-top: -100px;
	font-family: 'Virgil';
	background-color: #378b29;
	background-image: linear-gradient(315deg, #378b29 0%, #74d680 74%);
	/* background: linear-gradient(90deg, #e10c5d 0%, #f9681c 100%); */
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.evnt__name_quest {
	font-size: 4rem;
	line-height: 1rem;
}

.reg__btn {
	width: 15rem;
	padding: 1rem;
	background-color: var(--primary-color);
	border: none;
	font-size: 2rem;
	font-family: var(--iconic-text);
	border-radius: 10px;
	cursor: pointer;
}
.reg__btn:hover {
	color: #378b29;
	background-color: #000;
	border: 2px solid #378b29;
}

@media only screen and (max-width: 1300px) {
}
@media (min-device-width: 20px) and (max-device-width: 500px) {
}
@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1100px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 600px) {
	.main__text_container {
		margin-top: -270px;
	}
}

@media screen and (max-width: 400px) {
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
}

@media only screen and (device-width: 768px) {
}
