.navbar__main_body{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 0 2rem 1rem 2rem;
    align-items:center;
    /* border: 2px solid green; */
}
.and__txt{
    color: #ffff;
	font-size: 1.25rem;
	padding-left: 3rem;
	padding-right: 2rem;
	
}
.navbar__container{
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar__main_body >img{
    width: 13rem;
}
.presents__txt{
    color: #ffff;
    font-size: 1.75rem;
    font-family: var(--iconic-text);
    margin-top: -80px;
	padding-bottom: 4rem;
}

.main__page_container {
	width: 100%;
	min-height: 90 	vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	padding-bottom: 3rem;

}

.main__text_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	padding-top: 2rem;
	margin-top: -100px;
	font-family: 'Virgil';
	background-color: #378b29;
	background-image: linear-gradient(315deg, #378b29 0%, #74d680 74%);
	/* background: linear-gradient(90deg, #e10c5d 0%, #f9681c 100%); */
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.evnt__name_quest1 {
	font-size: 4rem;
	line-height: 1rem;
}
.evnt__name_quest2 {
	font-size: 4rem;
	line-height: 1rem;
	padding-bottom: 1rem;
}

.reg__btn {
	width: 15rem;
	padding:1rem;
	background-color: var(--primary-color);
	border: none;
	font-size: 1.5rem;
	font-family: var(--iconic-text);
	border-radius: 10px;
	cursor: pointer;
	
}
.reg__btn:hover {
	color: #378b29;
	background-color: #000;
	border: 2px solid #378b29;
}

/* @media only screen and (max-width: 1300px) {
}
@media (min-device-width: 20px) and (max-device-width: 500px) {
}
@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1100px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 800px) {
} */

@media screen and (max-width: 600px) {
	.navbar__main_body{
		display: inline-block;
  		justify-content: center;
		text-align: center;

	}
	.excel_logo{
		padding-top: 40px;
	}
	.and__txt{
		color: #ffff;
		font-size: 20px;
		text-align: center;
		padding-top: 0px;
		padding-bottom: 0px;
		
	}
	.presents__txt{
		color: #ffff;
		font-size: 20px;
		font-family: var(--iconic-text);
		margin-top: -10%;
		padding-bottom: 5.5rem;
	}
	.navbar__main_body >img{
		width: 8rem;		
	}
}

.evnt__name_quest1{
	font-size: 45px;
}
.evnt__name_quest2{
	font-size: 40px;
}
.main__text_container h2{
	font-size: 20px;
}

/* @media screen and (max-width: 400px) {
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
}

@media only screen and (device-width: 768px) {
} */

