.navbar__main_body{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* gap: 2rem; */
    padding: 1rem 2rem 1rem 2rem;
    align-items: center;
    /* border: 2px solid green; */
}
.and__txt{
    color: #ffff;
}
.navbar__container{
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar__main_body >img{
    width: 13rem;
}
.presents__txt{
    color: #ffff;
    font-size: 2rem;
    font-family: var(--iconic-text);
    margin-top: -50px;
}

@media only screen and (max-width: 1300px) {

}
@media (min-device-width: 20px) and (max-device-width: 500px){
   
}
@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1100px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 600px) {

}
@media screen and (max-width: 510px) {
    .navbar__main_body{
        flex-direction: column;
    }
}
@media screen and (max-width: 400px) {

}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}


@media only screen and (device-width: 768px) {

}
