.navbar__main_body{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    /* border: 2px solid green; */
}
.and__txt{
    color: #ffff;
}
.navbar__container{
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar__main_body >img{
    width: 13rem;
}
.presents__txt{
    color: #ffff;
    font-size: 2rem;
    font-family: var(--iconic-text);
    margin-top: -50px;
}