/* General styles */
.prizes__container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #74d680;
}

.prizes_text_container {
    font-family: 'Virgil';
    font-size: 60px;
    margin-bottom: 20px;
}

.prize_box_container {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.prizes {
    width: 100%;
    max-width: 300px; /* Set a maximum width for responsiveness */
    height: 280px;
    border: 3px solid #74d680;
    margin-bottom: 10px;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
}

.prize_1 {
    /* order: -1; Move the prize_1 box to the top */
    justify-content: center;
}

.prizes:hover {
    transform: scale(1.05);
}

/* Image styles */
.prize_img {
    position: relative;
}

.prize_img img {
    width: 50%;
    height: auto;
    border-radius: 8px;
    margin-left: 25%;
    margin-top: 6%;
}

/* Prize amount styles */
.prize-amount {
    font-weight: bold;
    color: #74d680;
    font-family: 'Virgil';
    font-size: 40px;
    position: absolute;
    bottom: 15px;
    left: 25%;
}

/* Responsive styles */
@media (max-width: 767px) {
    .prize_box_container {
        flex-direction: column;
        align-items: center;
    }

    .prizes {
        max-width: none;
    }

    /* .prize_1 {
        order: -2; Move the prize_1 box to the second position in mobile view
    } */

    .prize_img img {
        margin-left: 25%;
        margin-top: 8%;
    }

    .prize-amount {
        left: 50%;
        transform: translateX(-50%);
    }
}
